.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #60e1a3;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {

}

.listContainer {
  border: white;
  border-width: thick;
  border-style: solid;
  border-radius: 25px;
  margin: auto;
  width: 50%;
  height: 30vh;
}

.ingredientListItem {
  list-style-type: none;

    border: #149c14;
    border-radius: 25px;
    background: #00ad60;
    padding: 2px 15px 2px 15px;
    margin: 5px;
}

.ingredientList {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.newIngredientForm {
  margin: 20px;
}

