body {
  background-color: #60e1a3;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {

}

.listContainer {
  border: white;
  border-width: thick;
  border-style: solid;
  border-radius: 25px;
  width: 50%;
  /* height: 30vh; */
  background: #bdffd8;

}

.ingredientListItem {
  list-style-type: none;

    border: #149c14;
    border-radius: 25px;
    background: #00ad60;
    padding: 2px 15px 2px 15px;
    margin: 5px;
}

.ingredientList {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.newIngredientForm {
  margin: 20px;
}

.mealbox {
  border:5px solid #6bc983;
  padding: 50px;
  background: #bdffd8;
  margin-bottom: 25px;
  border-radius: 30px;
}

.meal {
  width: 300px;
}

.mealImg {
  max-width: 200px;
}

.recipes-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}





.newIngredientForm{
  width: 100%;
  max-width: 250px;
  background-color: rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px 10px 20px;
}

.newIngredientForm input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 15px;
  color: white;
}


.newIngredientForm button{
  border: 0;
  border-radius: 30px;
  width: 50px;
  height: 30px;
  background: #ff5353ad;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.ingredientName {
  color: white;
}

::placeholder{
  color:white;
}

.title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 4px #000000a1;
    color: #02ad60;
    font-size: xxx-large;
}

.header {
  background-color: white;
  width: 100vw;
}

.submitRecipe {
  font-size: 25px;
  border-radius: 30px;
  width: 120px;
  background: #106c2bad;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #0202023b;
  margin-top: 20px;
  padding: 5px;
}


/* ------- */
/* mobile */
@media all and (max-width: 700px) {
  .listContainer {
    width: 75%;
  }
  .ingredientList{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 450px) {
  .ingredientList{
    display: flex;
    flex-direction: column;
  }
}